$logs
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/copyright
/.idea/scopes
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/.name
/.idea/runConfigurations.xml
.DS_Store
/build
*.iml
